.modalpopup-l{
    margin: 40px;
    
}

.modaltitle-l{
 
    display: grid;
    text-align: right;
    padding: 10px;
    cursor: pointer;
  
 }
 

.modalbuttons-l{

    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

.modalbtns-l{
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
   
}



